/* | Element              | Hex Color |
|----------------------| :-------: |
| Body Background      | `#2E3B41` |
| Top Layer Wave       | `#EEB3A3` |
| Bottom Layer Wave    | `#F88CAC` |
| Primary Text         | `#506279` |
| Secondary Background | `#FFFFFF` |
| Join Now Button      | `#F88CAC` |
| Join Now Button Text | `#FFFFFF` |
| View Schedule Button | `#E9F0FD` |

#### How to Succeed */
html {
  background-color: #2e3b41;
  display: flex;
  flex-direction: row-reverse;
}

body {
  background-color: #ffffff;
}

header {
  width: 70%;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration:none;
}

.join_button {
  background-color: #f88cac;
  color: #ffffff;
  width:30%;
}
.view_schedule_button {
  background-color: #e9f0fd;
  width:30%;
}
.primary_text {
  color: #506279;
}
